//  标题模块
.au-list{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    // box-sizing: border-box;
    // border-bottom: 1px solid #fff;
    .al-box{
        width: 1200px;
        margin: 0 auto;
        ul{
            li{
                float: left;
                font-size: 16px;
                margin-right: 18px;
                a{
                    font-size: 16px;
                    color: #333;
                    margin: 0 25px;
                    float: left;
                    box-sizing: border-box;
                    // border-bottom: 1px solid transparent;
                }
                
            }
            .alb-active{
                a{
                  color: #4a85f8;
                  box-sizing: border-box;
                  border-bottom: 1px solid #4a85f8;
                }
            }
        }
    }
}
// 火鹰简介模块
.figoIntroduction{
    position: relative;
    // height: 800px;
    display: flex;
    background: url('../images/about_img.jpg') no-repeat;
    background-size: cover;
    justify-content: center;
    .fi-text{
        background:rgba(255,255,255,0.6);
        width: 100%;
        .fit-engTitle{
            margin-top: 45px;
            font-weight: 600;
            color: #333;
            text-align: center;
            font-size: 30px;
            opacity: 0.1;
            font-family: Alibaba PuHuiTi;
        }
        .fit-title{
            margin-top: -12px;
            font-weight: 600;
            font-size: 35px;
            text-align: center;
            letter-spacing: 4px;
            span{
                color: #2461F6;
            }
        }
        // 内容
        .fit-content{
            width: 1200px;
            margin: 100px auto 80px;
            background-color: #fff;
            .fitc-top{
                display: flex;
                img{
                    width: 700px;
                    height: 300px;
                }
                .fitct-right{
                    width: 500px;
                    height: 300px;
                    background-color: #F1F1F1;
                    padding: 50px;
                    box-sizing: border-box;
                    .fitctr-text1{
                        font-size: 30px;
                        color: #333;
                    }
                    .fitctr-text2{
                        font-size: 14px;
                        color: #666;
                    }
                    .fitctr-text3{
                        margin-top: 50px;
                        font-size: 22px;
                        color: #333;
                        img{
                            width: 13px;
                            height: 19px;
                        }
                    }
                    .fitctr-text4{
                        font-size: 14px;
                        color: #333;
                        margin-top: 5px;
                        margin-left: 22px;
                    }
                }
            }
            .fitc-bottom{
                background: #fff;
                padding: 35px;
                font-size: 16px;
                line-height: 30px;
                color: #666;
                .fitcb-text{
                    text-indent: 2em;
                }
            }
        }
    }
}

// 火鹰团队
.figoTeam{
    background: #fff;
    display: flex;
    justify-content: center;
    .ft-text{
        width: 1200px;
        padding-bottom: 70px;
        .ftt-engTitle{
            margin-top: 45px;
            font-weight: 600;
            color: #333;
            text-align: center;
            font-size: 30px;
            opacity: 0.1;
            font-family: Alibaba PuHuiTi;
        }
        .ftt-title{
            margin-top: -12px;
            font-weight: 600;
            font-size: 35px;
            text-align: center;
            letter-spacing: 4px;
            span{
                color: #2461F6;
            }
        }
        .ftt-content{
            margin: 0px auto;
            margin-top: 70px;
            ul{
                margin: 0 auto;
                li{
                    float: left;
                    margin-left: 110px;
                    .fttc-content{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img{
                            width: 160px;
                            height: 160px;
                        }
                        .fttcc-text1{
                            font-size: 18px;
                            color: #333;
                            margin-top: 25px;
                            font-weight: 600;
                        }
                        .fttcc-text2{
                            font-size: 16px;
                            color: #333;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}

// 办公环境
.figoEnvironment{
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    .fe-text{
        width: 1200px;
        padding-bottom: 0px;
        .fet-engTitle{
            margin-top: 45px;
            font-weight: 600;
            color: #333;
            text-align: center;
            font-size: 30px;
            opacity: 0.1;
            font-family: Alibaba PuHuiTi;
        }
        .fet-title{
            margin-top: -12px;
            font-weight: 600;
            font-size: 35px;
            text-align: center;
            letter-spacing: 4px;
            span{
                color: #2461F6;
            }
        }
        // 内容
        .fet-content{
            margin-top: 50px;
        }
    }
}

// 发展历程
.figoDevelop{
    display: flex;
    justify-content: center;
    background: #fff;
    .fd-text{
        width: 1200px;
        .fdt-engTitle{
            margin-top: 45px;
            font-weight: 600;
            color: #333;
            text-align: center;
            font-size: 30px;
            opacity: 0.1;
            font-family: Alibaba PuHuiTi;
        }
        .fdt-title{
            margin-top: -12px;
            font-weight: 600;
            font-size: 35px;
            text-align: center;
            letter-spacing: 4px;
            span{
                color: #2461F6;
            }
        }
    }
}

// 荣誉资质
.figo-honour{
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    .fh-text{
        width: 1200px;
        padding-bottom: 60px;
        .fht-engTitle{
            margin-top: 45px;
            font-weight: 600;
            color: #333;
            text-align: center;
            font-size: 30px;
            opacity: 0.1;
            font-family: Alibaba PuHuiTi;
        }
        .fht-title{
            margin-bottom: 70px;
            margin-top: -12px;
            font-weight: 600;
            font-size: 35px;
            text-align: center;
            letter-spacing: 4px;
            span{
                color: #2461F6;
            }
        }
        .fhc-imgList{
            ul {
                li{
                    float: left;
                    margin-right: 20px;
                    img{
                        width: 380px;
                        height: 300px;
                    }
                }
            }
        }
    }
}

// 版权证书
.figo-certificate{
    display: flex;
    background: #fff;
    justify-content: center;
    .fc-text{
        width: 1200px;
        .fct-engTitle{
            margin-top: 45px;
            font-weight: 600;
            color: #333;
            text-align: center;
            font-size: 30px;
            opacity: 0.1;
            font-family: Alibaba PuHuiTi;
        }
        .fct-title{
            margin-bottom: 30px;
            margin-top: -12px;
            font-weight: 600;
            font-size: 35px;
            text-align: center;
            letter-spacing: 4px;
            span{
                color: #2461F6;
            }
        }
    }
}

// 成功案例
.figo-success{
    display: flex;
    justify-content: center;
    background: url('../images/figo_aboutUs@2x.png') no-repeat;
    background-size: 100% 100%;
    .fs-text{
        width: 1200px;
        .fst-engTitle{
            margin-top: 45px;
            font-weight: 600;
            color: #333;
            text-align: center;
            font-size: 30px;
            opacity: 0.1;
            font-family: Alibaba PuHuiTi;
        }
        .fst-title{
            margin-bottom: 60px;
            margin-top: -12px;
            font-weight: 600;
            font-size: 35px;
            text-align: center;
            letter-spacing: 4px;
            span{
                color: #2461F6;
            }
        } 
        // 图片内容
        .fst-imgList{
            padding-bottom: 70px;
            ul{
                background-color: #f2f2f2;
                width: 1200px;
                height: 438px;
                padding: 5px;
                padding-left: 6px;
                box-sizing: border-box;
                li{
                    float: left;
                    margin-right: 9px;
                    margin-bottom: 9px;
                    img{
                        width: 230px;
                        height: 100px;
                    }
                }
                li:nth-of-type(5n){
                    margin-right: 0px;
                }
            }
        }  
    }
}

// 成功案例描述
.figo-Desc{
    display: flex;
    justify-content: center;
    background-color: #2461F6;
    .fD-text{
        width: 1200px;
        height: 200px;
        display: flex;
        .fDt-item{
            width: 299px;
            box-sizing: border-box;
            border-left: 1px solid #fff;
            display: flex;
            align-items: center;
            .fDt-line{
                height: 20px;
                background-color: #fff;
                margin-top: -50px;
                width: 4px;
            }
            .fDt-content{
                height: 200px;
                display: flex;
                margin-left: 25px;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                .fDtc-title{
                    color: #fff;
                    margin-top: 15px;
                    font-size: 50px;
                    font-family: Source Han Sans CN;
                    font-weight: 500;
                    color: #FFFFFF;
                    span{
                        font-size: 28px;
                    }
                }
                .fDtc-text{
                    color: #fff;
                    width: 240px;
                    font-family: Source Han Sans CN;
                    font-size: 14px;
                    text-align: center;
                    line-height: 24px;
                    margin-bottom: 15px;
                }
            }
        }
        
    }
}

// 联系我们
.figo-Contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    .fC-text{
        width: 1200px;
        .fCt-engTitle{
            margin-top: 45px;
            font-weight: 600;
            color: #333;
            text-align: center;
            font-size: 30px;
            opacity: 0.1;
            font-family: Alibaba PuHuiTi;
        }
        .fCt-title{
            margin-bottom: 40px;
            margin-top: -12px;
            font-weight: 600;
            font-size: 35px;
            text-align: center;
            letter-spacing: 4px;
            span{
                color: #2461F6;
            }
        }
        // 联系信息
        .fCt-messageBox{
            width: 1060px;
            margin: 0 auto;
            display: flex;
            background: #2461F6;
            box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.5);
            height: 120px;
            z-index: 10;
            position: relative;
            .fCtm-item{
                margin-top: 30px;
                width: 265px;
                height: 60px;
                box-sizing: border-box;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .fCtmi-title{
                    font-size: 17px;
                    color: #fff;
                }
                .fCtmi-text{
                    font-size: 17px;
                    margin-top: 5px;
                    color: #fff;
                }
            }
            .fCtm-item:nth-of-type(4){
                border-left: 1px solid rgb(180, 176, 176);

            }

        }
        // 地址信息
        .fCt-addressMessage{
            background: #F3F3F3;
            width: 1200px;
            margin-top: -40px;
            position: relative;
            z-index: 1;
            box-sizing: border-box;
            padding: 50px 60px;
            .fCta-top{
                padding: 20px 60px;
                .fCtat-title{
                    font-family: Alibaba PuHuiTi;
                    font-size: 22px;
                    font-weight: 500;
                    color: #000;
                }
                .fCtat-text{
                    margin-top: 20px;
                    font-size: 14px;
                    span{
                        font-weight: 600;
                    }
                }
            }
            .fCta-line{
                height: 1px;
                margin-top: 10px;
                background: #000;
            }
            .fCta-bottom{
                display: flex;
                width: 100%;
                flex-wrap: wrap;
               .fCtab-item{
                   width: 360px;
                   box-sizing: border-box;
                   display: flex;
                   margin-top: 30px;
                   align-items: center;
                   img{
                       width: 14px;
                       height: 22px;
                   }
                   .fCtabi-content{
                       margin-left: 15px;
                       .fCtabic-text1{
                           font-size: 18px;
                           color: #000;
                           font-weight: 500;
                       }
                       .fCtabic-text2{
                           font-size: 14px;
                           color: #666;
                       }
                   }
               } 
            }

        }
    }
    .fC-imgBg{
        width: 100%;
        position: relative;
        margin-top: -370px;
        img{
            width: 100%;
            height: 580px;
        }
    }
}

// 加入我们
.figo-join{
    display: flex;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    .fj-text{
        width: 1200px;
        padding-bottom: 80px;
        .fjt-engTitle{
            margin-top: 45px;
            font-weight: 600;
            color: #333;
            text-align: center;
            font-size: 30px;
            opacity: 0.1;
            font-family: Alibaba PuHuiTi;
        }
        .fjt-title{
            margin-bottom: 40px;
            margin-top: -12px;
            font-weight: 600;
            font-size: 35px;
            text-align: center;
            letter-spacing: 4px;
            span{
                color: #2461F6;
            }
        }
        .fjt-text{
            font-size: 14px;
            text-align: center;
            span{
                color: #2461F6;
            }
        }
        // 职位
        .fjt-item{
            box-shadow: 0px 11px 16px 2px rgba(17,22,122,0.15);
            border: 1px solid rgb(245, 231, 231);
            border-radius: 18px;
            margin-top: 60px;
            padding-bottom: 10px;
            .fjti-top{
                height: 50px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 24px;
                background: #2461f6;
                border-top-left-radius: 18px;
                border-top-right-radius: 18px;
                padding: 0 30px;
                .fjtit-left{
                    display: flex;

                    .fjtitl-left{
                        font-family: Alibaba PuHuiTi;
                        font-weight: 500;
                    }
                    .fjtitl-right{
                        margin-left: 40px;
                        font-weight: 300;
                        font-family: Alibaba PuHuiTi;
                    }
                }
                .fjtit-right{
                    font-family: Alibaba PuHuiTi;
                    font-weight: 500;
                }
            }
            .fjti-content{
                padding: 0 30px;
                padding-bottom: 20px;
                .fjtic-title{
                    margin-left: -7px;
                    font-size: 18px;
                    font-weight: 500;
                    margin-top: 20px;
                    color: #000;
                }
                .fjtic-text{
                    margin-top: 5px;
                    font-size: 16px;
                    line-height: 26px;
                }   
            }
            .fjti-content:nth-of-type(3){
                .fjtic-title{
                    margin-top: 5px;
                }
            }
        }
    }
    .fj-imgText{
        background: url('../images/figo-flImg@2x.png') no-repeat;
        height: 500px;
        width: 100%;
        background-size: 100% 100%;
        .fji-text{
            width: 1200px;
            margin: 0 auto;
            margin-top: 80px;
            padding-left: 35px;
            p{
                font-size: 24px;
                color: #000;
                font-weight: 600;
                margin-bottom: 20px;
                font-family: Alibaba PuHuiTi;
            }
            span{
                font-size: 16px;
                color: #000;
                font-family: Alibaba PuHuiTi;
                font-weight: 600;
                line-height: 40px;
            }
        }
    }
} 

@media only screen and (max-width: 760px){
    // 标题模块
    .au-list{
        overflow-x: auto;
        overflow-y: hidden;
        box-sizing: border-box;
        height: 43px;
        line-height: 43px;
        .al-box{
            width: 700px;
            ul{
                li{
                    font-size: 14px;
                    margin-right: 0px;
                    a{
                        font-size: 14px;
                        margin: 0 10px;
                        height: 42px;
                    }
                }
            }
        }
    }
    // 火鹰简介模块
    .figoIntroduction{
        .fi-text{
            width: 100%;
            .fit-engTitle{
                margin-top: 20px;
                font-size: 18px;
                line-height: 24px;
            }
            .fit-title{
                font-size: 22px;
                margin-top: -6px;
            }
            .fit-content{
                width: calc(100% - 20px);
                margin: 20px auto 30px;
                .fitc-top{
                    flex-direction: column;
                    width: 100%;
                    img{
                        width: 100%;
                        height: auto;
                    }
                    .fitct-right{
                        width: 100%;
                        height: auto;
                        padding: 15px;
                        .fitctr-text1{
                            font-size: 18px;
                            color: #333;
                        }
                        .fitctr-text2{
                            font-size: 12px;
                            margin-top: 5px;
                        }
                        .fitctr-text3{
                            margin-top: 15px;
                            font-size: 20px;
                            img{
                                width: 13px;
                                height: 19px;
                            }
                        }
                        .fitctr-text4{
                            font-size: 14px;
                            color: #333;
                            margin-top: 5px;
                            margin-left: 22px;
                        }
                    }
                }
                .fitc-bottom{
                    background: #fff;
                    padding: 15px;
                    font-size: 14px;
                    line-height: 26px;
                    color: #666;
                    .fitcb-text{
                        text-indent: 2em;
                    }
                }
            }
        }
    }
    // 火鹰团队
    .figoTeam{
        .ft-text{
            width: 100%;
            padding-bottom: 20px;
            .ftt-engTitle{
                margin-top: 20px;
                font-size: 18px;
                line-height: 24px;
            }
            .ftt-title{
                font-size: 22px;
                margin-top: -6px;
            }
            .ftt-content{
                margin: 0px auto;
                margin-top: 20px;
                ul{
                    margin: 0 auto;
                    width: 100%;
                    li{
                        float: left;
                        margin-left: calc(calc(100% - 200px) / 3);
                        .fttc-content{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            img{
                                width: 100px;
                                height: 100px;
                            }
                            .fttcc-text1{
                                margin-top: 15px;
                            }
                            .fttcc-text2{
                                margin-top: 5px;
                            }
                        }
                    }
                    li:nth-of-type(3),li:nth-of-type(4){
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    // 办公环境
    .figoEnvironment{
        .fe-text{
            .fet-engTitle{
                margin-top: 20px;
                font-size: 18px;
                line-height: 24px;
            }
            .fet-title{
                font-size: 22px;
                margin-top: -6px;
            } 
             // 内容
           .fet-content{
                margin-top: 20px;
            }  
        }
    }
    // 发展历程
    .figoDevelop{
        .fd-text{
            .fdt-engTitle{
                margin-top: 20px;
                font-size: 18px;
                line-height: 24px;
            }
            .fdt-title{
                font-size: 22px;
                margin-top: -6px;
            } 
        }
    }
    // 荣誉资质
    .figo-honour{
        .fh-text{
            width: 100%;
            padding-bottom: 20px;
            .fht-engTitle{
                margin-top: 20px;
                font-size: 18px;
                line-height: 24px;
            }
            .fht-title{
                font-size: 22px;
                margin-top: -6px;
                margin-bottom: 20px;
            } 
            .fhc-imgList{
                ul {
                    li{
                        float: left;
                        margin-left: calc(calc(100% - 332px) / 3);
                        margin-right: 0px;
                        img{
                            width: 166px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    // 版权证书
    .figo-certificate{
        .fc-text{
            width: 100%;
            .fct-engTitle{
                margin-top: 20px;
                font-size: 18px;
                line-height: 24px;
            }
            .fct-title{
                font-size: 22px;
                margin-top: -6px;
                margin-bottom: 0px;
            } 
        }
    }
    // 成功案例
    .figo-success{
        .fs-text{
            width: 100%;
            padding-bottom: 30px;
            .fst-engTitle{
                margin-top: 20px;
                font-size: 18px;
                line-height: 24px;
            }
            .fst-title{
                font-size: 22px;
                margin-top: -6px;
                margin-bottom: 20px;
            } 
             // 图片内容
           .fst-imgList{
              padding-bottom: 20px;
              ul{
                width: 330px;
                margin: 0 auto;
                height: auto;
                padding: 0;
                box-sizing: border-box;
                background: transparent;
                li{
                    float: left;
                    margin-right: 0px;
                    margin-bottom: 0px;
                    background-color: #f2f2f2;
                    padding: 2px;
                    img{
                        width: 160px;
                        height: 75px;
                    }
                }
                li:nth-of-type(5n){
                    margin-right: 0px;
                }
             }
           }  
        }
       
    }
    // 成功案例描述
    .figo-Desc{
        .fD-text{
            width: 320px;
            height: auto;
            flex-wrap: wrap;
            .fDt-item{
                width: 160px;
                .fDt-line{
                    height: 20px;
                    margin-top: -50px;
                    width: 4px;
                }
                .fDt-content{
                    height: 150px;
                    display: flex;
                    margin-left: 20px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    .fDtc-title{
                        color: #fff;
                        margin-top: 15px;
                        font-size: 30px;
                        font-family: Source Han Sans CN;
                        font-weight: 500;
                        color: #FFFFFF;
                        span{
                            font-size: 20px;
                        }
                    }
                    .fDtc-text{
                        color: #fff;
                        width: 120px;
                        font-family: Source Han Sans CN;
                        font-size: 12px;
                        text-align: center;
                        line-height: 22px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    // 联系我们
    .figo-Contact{
        .fC-text{
            width: 100%;
            .fCt-engTitle{
                margin-top: 20px;
                font-size: 18px;
                line-height: 24px;
            }
            .fCt-title{
                font-size: 22px;
                margin-top: -6px;
                margin-bottom: 20px;
            } 
            // 联系信息
            .fCt-messageBox{
                width: 280px;
                height: auto;
                flex-wrap: wrap;
                padding-bottom: 15px;
                .fCtm-item{
                    width: 140px;
                    margin-top: 10px;
                    .fCtmi-title{
                        font-size: 14px;
                    }
                    .fCtmi-text{
                        font-size: 14px;
                    }
                }
            }
            // 地址信息
            .fCt-addressMessage{
                width: 320px;
                margin: 0 auto;
                margin-top: -80px;
                padding: 10px 20px;
                padding-bottom: 20px;
                .fCta-top{
                    padding: 10px;
                    .fCtat-title{
                        font-size: 18px;
                        margin-top: 80px;
                    }
                    .fCtat-text{
                        margin-top: 10px;
                    }
                }
                .fCta-bottom{
                    margin-top: 10px;
                    .fCtab-item{
                        width: 100%;
                        margin-top: 10px;
                        img{
                            width: 12px;
                            height: 18px;
                        }
                        .fCtabi-content{
                            margin-left: 15px;
                            .fCtabic-text1{
                                font-size: 16px;
                                color: #000;
                                font-weight: 500;
                            }
                            .fCtabic-text2{
                                font-size: 12px;
                                color: #666;
                            }
                        }
                    }
                }
            }
        } 
        .fC-imgBg{
            margin-top: -530px;
        }
    }
    // 加入我们
    .figo-join{
        .fj-text{
            width: 320px;
            padding-bottom: 30px;
            .fjt-engTitle{
                margin-top: 20px;
                font-size: 18px;
                line-height: 24px;
            }
            .fjt-title{
                font-size: 22px;
                margin-top: -6px;
                margin-bottom: 20px;
            }
            // 职位
            .fjt-item{
                margin-top: 20px;
                border-radius: 8px;
                .fjti-top{
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    height: 36px;
                    font-size: 14px;
                    padding: 0 10px;
                    .fjtit-left{
                        .fjtitl-right{
                            margin-left: 10px;
                        }
                    }
                }
                .fjti-content{
                    padding: 0 15px;
                    padding-bottom: 5px;
                    .fjtic-title{
                        margin-top: 10px;
                        font-size: 15px;
                    }
                    .fjtic-text{
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }
        }
        .fj-imgText{
            height: 360px;
            .fji-text{
                width: 320px;
                padding-left: 0px;
                margin-top: 30px;
                p{
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 15px;
                }
                span{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                }
            }
        }
    }
    // 视频样式修改
    .video_list{
        padding: 5px;
        padding-top: 0px;
    }
}