// 定制
.customDevelop {
    background: url('../images/ban1@2x.png');
    background-size: 100% 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;

    .cd-text {
        width: 1200px;

        .cd-box {
            position: absolute;
            left: 224px;
            top: 148px;

            .cd-title {
                font-size: 55px;
                font-family: Source Han Sans CN;
                font-weight: bold;
                color: #FFFFFF;

            }

            .cd-content {

                font-size: 32px;
                font-family: Source Han Sans CN;
                font-weight: bold;
                color: #FFFFFF;
            }

            .cd-eng {

                font-size: 18px;
                font-family: Arial;
                font-weight: 400;
                color: #FFFFFF;

            }

            .cd-detial {
                width: 97px;
                height: 31px;
                border: 1px solid #FFFFFF;
                border-radius: 16px;
                font-size: 10px;
                font-family: Source Han Sans CN;
                font-weight: 400;
                color: #FFFFFF;
                line-height: 31px;
                text-align: center;
                margin-top: 24px;
            }
        }


        //     .figoImg {
        //         margin-top: 40px;
        //         margin-left: 40px;
        //     }

        //     .cdt-title {
        //         position: absolute;
        //         top: 44%;
        //         left: 50%;
        //         transform: translate(-50%, -50%);
        //         background: transparent;
        //     }

        //     .cdt-text {
        //         background: url('../images/rectangle.png') no-repeat;
        //         background-size: 429px 88px;
        //         width: 429px;
        //         font-size: 21px;
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;
        //         position: absolute;
        //         top: calc(44% + 92px);
        //         left: 50%;
        //         transform: translate(-50%, -50%);
        //         color: #1C2A64;
        //         line-height: 45px;
        //         font-weight: bold;
        //     }

        //     .cdt-content {
        //         color: #fff;
        //         position: absolute;
        //         top: calc(44% + 130px);
        //         display: flex;
        //         justify-content: center;
        //         font-size: 20px;
        //         width: 1200px;
        //         font-weight: 400;
        //     }
    }
}

// 存在问题版块
.question {
    height: 297px;
    position: relative;
    display: flex;
    justify-content: center;

    .qu-box {
        .qu-title {
            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #000000;
            text-align: center;
            margin-top: 49px;
            margin-bottom: 45px;
            // line-height: 21px;
        }

        .qu-content {
            display: flex;
        }

        .qu-item {
            text-align: center;
            margin-right: 95px;

            .qu-item-img {
                width: 55px;
                height: 55px;
            }

            .qu-item-title {
                font-size: 15px;
                font-family: Source Han Sans CN;
                font-weight: bold;
                color: #000000;
                margin-top: 4px;
                margin-bottom: 5px;
            }

            .qu-item-content {
                width: 158px;
                height: 39px;
                font-size: 9px;
                font-family: Source Han Sans CN;
                font-weight: 400;
                color: #666666;
            }
        }

    }
}

// 我们能做什么模块
.wedo {
    height: 522px;
    position: relative;
    background: #F5FBFF;
    display: flex;
    justify-content: center;

    .we-box {
        .we-title {
            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #000000;
            margin-top: 50px;
            margin-bottom: 37px;
            text-align: center;
        }

        .we-tap {
            display: flex;
            width: 900px;
            border-bottom: 1px solid #DCDCDC;
            padding: 0 43px;

            .we-tap-item {
                width: 63px;
                height: 82px;
                margin-right: 73px;
                text-align: center;

                &:nth-child(7) {
                    margin-right: 0
                }

                .we-tap-img {
                    width: 41px;
                    height: 41px;
                }

                .we-tap-name {
                    font-size: 11px;
                    font-family: Source Han Sans CN;
                    font-weight: bold;
                    color: #000000;
                    width: 63px;
                    text-align: center;
                }
            }

            .we-tap-select {
                border-bottom: 1px solid #0050FA;
            }
        }

        .we-content-right {}

        .we-content {
            display: flex;
            padding-top: 38px;
            position: relative;

            .we-content-img {
                width: 363px;
                height: 250px;
            }

            .we-content-right {
                margin-left: 38px;
                padding-top: 40px;

                .we-content-title {
                    font-size: 23px;
                    font-family: Source Han Sans CN;
                    font-weight: 600;
                    color: #000000;
                }

                .we-content-list {
                    margin-top: 16px;
                    margin-bottom: 24px;

                    .we-content-item {
                        position: relative;
                        font-size: 10px;
                        font-family: Source Han Sans CN;
                        font-weight: 600;
                        color: #000000;
                        display: flex;
                        // justify-content: center;
                        align-items: center;
                        margin-bottom: 6px;

                        .we-content-icon {
                            position: absolute;
                            top: 6px;
                            width: 6px;
                            height: 6px;
                            background: #0050FA;
                            border-radius: 50%;
                            margin-right: 3px;
                        }

                        .we-content-c {
                            margin-left: 10px;
                            width: 500px;
                        }

                    }
                }

                .we-content-message {
                    position: absolute;
                    width: 97px;
                    height: 31px;
                    border: 1px solid #0050FA;
                    border-radius: 16px;
                    font-size: 10px;
                    font-family: Source Han Sans CN;
                    font-weight: 600;
                    color: #0050FA;
                    line-height: 31px;
                    text-align: center;
                    bottom: 12px;
                    left: 400px;
                }
            }

        }
    }
}

// 把握企业运营全景数据模块
.data {
    height: 516px;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;

    .da-box {
        .da-title {
            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #000000;
            margin-top: 90px;
            margin-bottom: 29px;
            text-align: center;
        }

        .da-content {
            width: 900px;
            height: 281px;
            background: #F5FBFF;
            border-radius: 13px;
            display: flex;
            justify-content: space-between;


            .da-content-left {
                // display: flex;
                // flex-direction: column;

                margin-top: 85px;
                margin-left: 31px;


                .da-content-t {
                    font-size: 16px;
                    font-family: Source Han Sans CN;
                    font-weight: bold;
                    color: #000000;
                }

                .da-content-b {
                    font-size: 10px;
                    font-family: Source Han Sans CN;
                    font-weight: 400;
                    color: #000000;

                }
            }

            .da-content-detail {
                width: 97px;
                height: 31px;
                border: 1px solid #0050FA;
                border-radius: 16px;
                font-size: 10px;
                font-family: Source Han Sans CN;
                font-weight: 400;
                color: #0050FA;
                line-height: 31px;
                background: #F5FBFF;
                margin-top: 28px;
            }

            .da-content-img {
                width: 375px;
                height: 281px;
            }
        }

        .da-content-s {
            display: flex;
            justify-content: center;
            margin-top: 26px;

            .da-content-i {
                width: 19px;
                height: 3px;
                background: #0050FA;
                opacity: 0.3;
                margin-right: 3px;
            }

            .da-content-i-s {
                background: #0050FA;
                opacity: 1
            }
        }
    }
}

// 满足行业个性化业务需求
.need {
    height: 494px;
    position: relative;
    background: #F5FBFF;
    display: flex;
    justify-content: center;

    .ne-box {
        position: relative;
        text-align: center;

        .ne-title {
            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #000000;
            margin-top: 48px;
            margin-bottom: 31px;
            text-align: center;
        }

        .ne-content {
            width: 752px;
            display: flex;
            overflow: hidden;
            position: relative;

            .a {

                margin-left: 19px;
            }

            .ne-content-item {
                width: 238px;
                height: 288px;
                background: #FFFFFF;
                border-radius: 6px 6px 0px 6px;
                margin-right: 19px;

                &:nth-child(3) {
                    margin-right: 0;
                }

                .ne-content-img {
                    width: 238px;
                    height: 138px;
                }

                .ne-content-p {
                    padding: 15px;

                    .ne-content-t {
                        font-size: 14px;
                        font-family: Source Han Sans CN;
                        font-weight: bold;
                        color: #000000;

                    }

                    .ne-content-b {

                        font-size: 9px;
                        font-family: Source Han Sans CN;
                        font-weight: 400;
                        color: #333333;
                    }
                }

            }
        }

        .ne-btn {
            width: 97px;
            height: 31px;
            border: 1px solid #0050FA;
            border-radius: 16px;
            font-size: 10px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #0050FA;
            line-height: 31px;
            background: #F5FBFF;
            margin: 20px auto;
        }

        .ne-box-last {
            position: absolute;
            left: -55px;
            width: 34px;
            height: 34px;
            top: 226px;
        }

        .ne-box-next {
            position: absolute;
            width: 34px;
            height: 34px;
            right: -55px;
            top: 226px;
        }
    }
}


// 满足行业个性化业务需求
.role {
    height: 678px;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;

    .ro-box {
        .ro-title {
            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #000000;
            margin-top: 57px;
            margin-bottom: 28px;
            text-align: center;
        }

        .ro-content {
            display: flex;
            width: 780px;
            flex-wrap: wrap;

            .ro-content-item {
                position: relative;
                width: 238px;
                height: 250px;
                background: #FFFFFF;
                border: 1px solid #DCDCDC;
                border-radius: 6px;
                text-align: center;
                margin-right: 19px;

                .ro-content-img {
                    margin-top: 31px;
                    width: 110px;
                    height: 71px;
                }

                .ro-content-t {
                    font-size: 14px;
                    font-family: Source Han Sans CN;
                    font-weight: bold;
                    color: #000000;

                }

                .ro-content-b {
                    // width: 114px;
                    padding: 0 10px;
                    font-size: 9px;
                    font-family: Source Han Sans CN;
                    font-weight: 400;
                    color: #333333;
                    line-height: 16px;
                    // transform: scale(.5, .5);
                    // transform-origin: center top;
                    -webkit-transform: scale(0.833)
                }

                .ro-content-d {
                    position: absolute;
                    width: 81px;
                    height: 25px;
                    border: 1px solid #0050FA;
                    border-radius: 13px;
                    font-size: 9px;
                    font-family: Source Han Sans CN;
                    font-weight: 400;
                    color: #0050FA;
                    line-height: 25px;
                    background-color: #fff;
                    bottom: 25px;
                    left: 79px;
                }

            }
        }
    }
}

// 为什么选择火鹰人力资源管理系统
.why {
    height: 500px;
    position: relative;
    background: #F5FBFF;
    display: flex;
    justify-content: center;

    .w-box {
        .w-title {

            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #000000;
            margin-top: 51px;
            margin-bottom: 31px;
            text-align: center;

        }

        .w-content {
            position: relative;

            .w-content-item {
                width: 366px;
                height: 162px;
                background: #FFFFFF;
                border-radius: 6px;
                display: flex;
                margin-right: 19px;

                &:nth-child(2) {
                    margin-right: 0;
                }

                .w-content-t {
                    font-size: 13px;
                    font-family: Source Han Sans CN;
                    font-weight: bold;
                    color: #000000;

                }

                .w-content-img {
                    width: 78px;
                    height: 91px;
                    margin-left: 44px;
                    margin-top: 47px;
                }

                .w-content-right {
                    margin-top: 47px;
                    padding: 19px 24px;
                }

                .w-content-b {
                    margin-top: 8px;
                    font-family: Source Han Sans CN;
                    font-weight: 400;
                    color: #000000;

                }
            }

            .w-logo {
                width: 143px;
                height: 143px;
                position: absolute;
                left: 302px;
                top: 96px;

            }
        }
    }
}


// 我们服务过的客户
.serve {
    height: 511px;
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;

    .s-box {
        .s-title {
            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #000000;
            margin-top: 51px;
            margin-bottom: 38px;
            text-align: center;
        }

        .figo-Desc {
            display: flex;
            justify-content: center;
            background-color: #fff;

            .fD-text {
                width: 750px;
                // height: 200px;
                display: flex;

                .fDt-item {
                    width: 185px;
                    box-sizing: border-box;
                    border-left: 1px solid #fff;
                    display: flex;


                    .fDt-line {
                        height: 20px;
                        background-color: #fff;
                        margin-top: -50px;
                        width: 4px;
                    }

                    .fDt-content {
                        display: flex;
                        margin-left: 25px;
                        flex-direction: column;
                        align-items: center;

                        .fDtc-title {
                            font-size: 26px;
                            font-family: Arial;
                            font-weight: bold;
                            color: #0050FA;
                            margin-bottom: 10px;
                        }

                        .fDtc-text {
                            width: 153px;
                            font-size: 9px;
                            font-family: Source Han Sans CN;
                            font-weight: 400;
                            color: #000000;
                            line-height: 15px;
                        }
                    }
                }

            }
        }

        .fst-imgList {
            padding-bottom: 70px;

            ul {
                background-color: #f2f2f2;
                width: 750px;
                height: 249px;
                box-sizing: border-box;

                li {
                    float: left;

                    img {
                        width: 150px;
                        height: 62px;
                    }
                }

                li:nth-of-type(5n) {
                    margin-right: 0px;
                }
            }
        }
    }
}

.article {
    height: 406px;
    position: relative;
    background: #F5FBFF;
    display: flex;
    justify-content: center;

    .a-box {
        .a-title {
            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #000000;
            margin-top: 30px;
            margin-bottom: 31px;
            text-align: center;
        }

        .a-content {
            display: flex;

            .a-content-l {

                width: 366px;
                height: 182px;
                background: #FFFFFF;
                border-radius: 6px;
                margin-right: 18px;


                .a-content-img {
                    width: 366px;
                    height: 182px;
                }

                .a-content-t {
                    font-size: 11px;
                    font-family: Source Han Sans CN;
                    font-weight: 600;
                    color: #000000;
                }

                .a-content-b {
                    font-size: 9px;
                    font-family: Source Han Sans CN;
                    font-weight: 400;
                    color: #666666;
                }
            }

            .a-content-r {
                width: 343px;
                height: 227px;
                background: #FFFFFF;
                border-radius: 6px;
                padding: 23px;
                display: flex;
                flex-direction: column;
                align-items: space-around;
                justify-content: space-around;


                .a-content-item {
                    display: flex;
                    justify-content: space-between;

                    .a-content-i-l {
                        font-size: 10px;
                        font-family: Source Han Sans CN;
                        font-weight: 600;
                        color: #000000;

                    }

                }
            }
        }

    }
}

//定制


//  ChatGPT私有数据模型训练服务模块


// 关于模型训练 Q&A模块


@media only screen and (max-width: 760px) {

    // 定制
    .customDevelop {
        width: 100%;
        height: 210px;


        .cd-text {
            width: 100%;

            .cd-box {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                .cd-title {
                    font-size: 20px;
                }

                .cd-content {
                    font-size: 12px;
                }

                .cd-eng {
                    font-size: 12px;
                }

                .cd-detial {
                    font-size: 12px;
                }


            }



        }
    }

    // 问题存在
    .question {
        height: 500px;

        .qu-box {
            width: 100%;

            .qu-title {
                font-size: 17px;
            }

            .qu-content {
                flex-wrap: wrap;
                justify-content: center;

                .qu-item {
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    // 我们能做
    .wedo {
        height: 750px;

        .we-box {
            width: 100%;

            .we-title {
                font-size: 17px;
            }

            .we-tap {
                width: auto;
                flex-wrap: wrap;
                border-bottom: 0px solid #DCDCDC;

                .we-tap-item {
                    margin-right: 9px;
                    height: 70px;
                    margin-bottom: 5px;
                }
            }

            .we-content {
                display: inline-block;
                padding-top: 0;

                .we-content-img {
                    // width: 100%;
                    padding: 5px;
                }

                .we-content-right {
                    margin-top: 10px;
                    margin-left: 10px;
                    padding-top: 0;



                    .we-content-title {
                        text-align: center;
                    }

                    .we-content-list {
                        height: 150px;

                        .we-content-item {
                            .we-content-c {
                                width: 100%;
                            }
                        }
                    }

                    .we-content-message {
                        left: 50%;
                        transform: translate(-50%);
                        bottom: 15px;
                    }

                }
            }


        }
    }

    // 把握企业运营全景数据模块
    .data {
        height: 600px;
        width: 100%;

        .da-box {
            width: 100%;

            .da-title {
                font-size: 17px;
                margin-top: 50px;
                margin-bottom: 31px;
            }

            .da-content {
                width: 100%;
                display: inline-block;
                height: auto;

                .da-content-left {
                    text-align: center;
                    margin-top: 10px;
                    margin-left: 10px;
                    height: 150px;
                    position: relative;


                    .da-content-detail {
                        position: absolute;
                        bottom: 10px;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }

                .da-content-img {
                    width: 363px;
                    padding: 5px;
                }
            }
        }
    }

    // 满足行业个性化业务需求
    .need {
        width: 100%;
        position: relative;

        .ne-box {
            width: 100%;

            .ne-box-last {
                left: 10px;
            }

            .ne-box-next {
                right: 10px;
            }

            .ne-title {
                font-size: 17px;
                margin-top: 50px;
                margin-bottom: 31px;
            }

            .ne-content {
                text-align: center;
                width: 238px;
                left: 50%;
                transform: translate(-50%);

                .flex {
                    width: 238px;
                }
            }


        }
    }

    .role {
        width: 100%;

        .ro-box {
            .ro-title {
                font-size: 17px;
                margin-top: 50px;
                margin-bottom: 31px;
            }

            .ro-content {
                width: 100%;
                display: flex;

                flex-wrap: wrap;

                .ro-content-item {
                    width: 122px;
                    margin-right: 0;
                    height: 280px;

                    .ro-content-t {
                        font-size: 12px;
                    }

                    .ro-content-d {
                        bottom: 15px;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
            }
        }
    }

    .why {
        width: 100%;

        .w-box {
            width: 100%;

            .w-title {
                font-size: 17px;
                margin-top: 50px;
                margin-bottom: 31px;

            }

            .w-content {
                .w-logo {

                    left: 50%;
                    transform: translate(-50%);
                    // -webkit-transform: scale(0.833)
                    width: 100px;
                    height: 100px;
                    top: 115px;
                }

                .w-content-item {
                    width: 180px;

                    .w-content-img {
                        display: none;

                    }

                    .w-content-right {
                        margin-top: 0;

                        .w-content-t {
                            margin-top: 10px;
                        }
                    }

                }
            }
        }
    }

    .serve {
        width: 100%;
        height: auto;

        .s-box {
            width: 100%;

            .s-title {
                font-size: 17px;
                margin-top: 50px;
                margin-bottom: 31px;
            }

            .figo-Desc {
                .fD-text {
                    width: 100%;
                    flex-wrap: wrap;
                }

            }

            .fst-imgList {
                ul {
                    width: 100%;
                    background: #fff;

                    li {
                        width: 33.3%;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .article {
        width: 100%;
        height: auto;

        .a-box {
            width: 100%;

            .a-title {
                font-size: 17px;
                margin-top: 50px;
                margin-bottom: 31px;

            }

            .a-content {
                display: inline-block;
                width: 100%;

                .a-content-img {
                    width: 360px !important;
                    padding: 5px;
                }

                .a-content-r {
                    // width: 100%;
                    padding: 5px;
                    margin: 0 auto;
                    // display: inline-block;

                    .a-content-i-l {}

                    .a-content-i-r {}
                }
            }
        }
    }
}

.flex {
    display: flex;
}

.mb19 {
    margin-bottom: 19px;
}

.p13 {
    padding: 13px;
}

.aa {
    display: inline-block;
    /* 将 a 元素的 display 属性设为 inline-block */
    text-decoration: none;
    /* 去除下划线 */
    color: black;
    /* 设定字体颜色 */
    cursor: pointer;
    /* 添加手型 cursor 属性以标识可被点击 */
}